.navbar {
  align-items: center;
  background-color: #0275d8;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  h1 {
    color: white;
  }
}

.header {
  cursor: pointer;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
}

.navbar-links {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem
}

.navbar-link {
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}
